#content {
  position: absolute;
  top: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none; 
  -webkit-user-drag: none;
}

#queue {
  left: 50%;
  font-size: 100px;
  position: absolute;
  color: orange;
  background-color: green;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none; 
  -webkit-user-drag: none;
}

.choice {
  position: absolute;
  border: none;
  border-radius: 80px;
  text-align: center;
  background-color: purple;
  color: aqua;
  cursor: pointer;
}

.choice:hover {
  background-color: red;
}

#background-image {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none; 
  -webkit-user-drag: none;
  z-index: -1;
}